# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS system files
.DS_Store
Thumbs.db

# Build and temporary files
.next/
dist/
.vercel/
coverage/

# Vercel output directory
.vercel/output/

# IDE and editor directories
.vscode/
.idea/
